PhucMc/data
PhucMc/.fabric
PhucMc/essential
PhucMc/logs
PhucMc/mods
PhucMc/natives
PhucMc/resourcepacks
PhucMc/shaderpacks
PhucMc/server-resource-packs
PhucMc/irisUpdateInfo
PhucMc/Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1
PhucMc/servers.dat_old
PhucMc/servers.essential.dat
PhucMc/TLauncherAdditional