Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/data
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/.fabric
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/essential
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/logs
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/mods
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/natives
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/resourcepacks
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/shaderpacks
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/server-resource-packs
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/irisUpdateInfo
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/servers.dat_old
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/servers.essential.dat
Optimization+  Shaders, FPS Boost, and QoL Optimization+  Shaders FPS Boost and QoL (1) (1)-1/TLauncherAdditional